@tailwind base;
@tailwind components;
@tailwind utilities;

/* sizes for circles following the cursor */
.sm {
  width: 30px;
  height: 30px;
}

.md {
  width: 60px;
  height: 60px;
}

.lg {
  width: 90px;
  height: 90px;
}
